body {
	text-align:center;
}

h1 {
	text-align:center;
	text-shadow:#8b008b;
}

div.login {
	margin-left:auto;
	margin-right:auto;
	width:35%;
}

div.menu {
    text-align:right;
}

label {
    font-weight:bold;
    float:left;
    text-align:left;
}

input {
    float:right;
}

input.calendarField {
    float:right;
	width:140px;
}