<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>PaySystem</display-name>
	<description>A way of tracking pay for employees.</description>
    <listener>
        <listener-class>timeSheet.UtilWeb</listener-class>
    </listener>
    <listener>
        <listener-class>timeSheet.EnvironmentSetup</listener-class>
    </listener>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
</web-app>
